#adminmenu .toplevel_page_mg img {
    padding: unset !important;
    max-width: 36px;
    max-height: 36px;
    filter: brightness(5);
    scale: .7;
}
.milg0ir .responsive-wrapper {
	display: none; /* Hide all sections by default */
}
.milg0ir .responsive-wrapper:active {
	display: block; /* Display only the active section */
}
