/* HEADER */
:root :where(.wp-block-site-title a:where(:not(.wp-element-button)):hover) {
	text-decoration: none;
}
.wp-block-kadence-column {
	overflow: visible !important;
}
/* PRODUCT TABS */
.woocommerce div.product .woocommerce-tabs ul.tabs {
	text-wrap: nowrap;
	overflow: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs::before {
	content: unset;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
	background: transparent!important;
	border-width: 0;
	margin: 0 -2px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:hover {
	border-bottom: var(--wp--preset--color--tertiary) .15rem solid;
	background: var(--wp--preset--color--senary)!important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li::after {
	content: unset;
}
.woocommerce div.product .woocommerce-tabs ul.tabs::before {
	content: '';
	width: 100%;
	height: .15rem;
	background: rgb(248, 248, 248);
	border: unset;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active::after {
	box-shadow: unset!important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	border-bottom: var(--wp--preset--color--secondary) .15rem solid;
	background: var(--wp--preset--color--quaternary)!important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:hover {
	border-bottom: var(--wp--preset--color--primary) .15rem solid;
	background: var(--wp--preset--color--quinary)!important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:hover a,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
	color: var(--wp--preset--color--senary);
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:hover a,
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	color: var(--wp--preset--color--secondary);
}
.woocommerce div.product .woocommerce-tabs .panel {
	margin-left: 5%;
	width: 90%;
}
.woocommerce div.product .woocommerce-tabs .panel h2 {
	display: none;
}
.woocommerce .wp-block-woocommerce-product-meta {
	display: none;
}
.woocommerce img,
.woocommerce-page img {
	object-fit: contain;
	aspect-ratio: 4 / 3;
}
/* ACCOUNT / LOGIN PAGE */
.woocommerce:has(form.login) h2,
.woocommerce:has(form.register) h2 {
	display: none;
}
.woocommerce form.login,
.woocommerce form.register {
	border: unset;
	position: relative;
	width: 50%;
	left: 25%;
}
.woocommerce-MyAccount-navigation {
	display: none !important;
}
.wp-block-woocommerce-product-meta {
	display: none;
}

.woocommerce-account main {
	background: rgb(248, 248, 248);
}

.woocommerce-account .woocommerce-MyAccount-navigation ul {
	margin: unset !important;
}
.woocommerce-account .woocommerce-MyAccount-navigation li {
	padding: unset !important;
	border-right: rgb(243, 243, 243) .15rem solid;
}
.woocommerce-account .woocommerce-MyAccount-navigation li:hover {
	border-right: var(--wp--preset--color--tertiary) .15rem solid;
	background: var(--wp--preset--color--senary);
}
.woocommerce-account .woocommerce-MyAccount-navigation li.is-active {
	border-right: var(--wp--preset--color--secondary) .15rem solid;
	background: var(--wp--preset--color--quaternary);
}
.woocommerce-account .woocommerce-MyAccount-navigation li.is-active a {
	color: var(--wp--preset--color--senary);
}
.woocommerce-account .woocommerce-MyAccount-navigation li.is-active:hover {
	border-right: var(--wp--preset--color--primary) .15rem solid;
	background: var(--wp--preset--color--quinary);
}

.woocommerce-account .woocommerce-MyAccount-navigation li a {
	text-decoration: none !important;
	display: block;
	width: 100%;
	height: 100%;
	padding: 1rem;
}
.woocommerce-account .woocommerce-MyAccount-navigation li.is-active a {
	font-weight: 600;
}

.woocommerce-account .woocommerce-MyAccount-content {
	width: 100% !important;
	padding: 1rem !important;
}

.woocommerce-account .woocommerce-MyAccount-content .form-row em {
	font-size: 1rem;
}

/* Responsiveness */
@media only screen and (max-width: 768px) {
	.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
		width: 80%;
		left: 10%;
	}
	.woocommerce-account .woocommerce-MyAccount-navigation {
		border-bottom: rgb(180, 180, 180) .15rem solid;
	}
	.woocommerce-account .woocommerce-MyAccount-navigation li {
		border-left: rgb(243, 243, 243) .15rem solid;
	}
	.woocommerce-account .woocommerce-MyAccount-navigation li:hover {
		border-left: var(--wp--preset--color--secondary) .15rem solid;
	}

	.woocommerce-account .woocommerce-MyAccount-navigation li.is-active {
		border-left: var(--wp--preset--color--primary) .15rem solid;
	}
	.woocommerce-account .woocommerce-MyAccount-navigation li.is-active:hover {
		border-left: var(--wp--preset--color--primary) .15rem solid;
	}
}

/* STAMP CARDS*/
.stamp-card-info {
    background-color: #f8f8f8;
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 15px;
}
.stamp-card-info img {
    display: inline-block;
    margin-right: 10px;
}
.stamp-card-info p {
    margin: 0;
    font-size: 14px;
}

body.logged-in .mg-account-nav {
    display: block !important;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.mg-navigation-link .icon {
		display: inline;
		margin-right: unset;
	}
	.mg-navigation-link .title {
		display: none;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.mg-navigation-link .icon {
		display: none;
		margin-right: unset;
	}
	.mg-navigation-link .title {
		display: inline;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.mg-navigation-link .icon {
		display: inline;
		margin-right: .5rem;
	}
	.mg-navigation-link .title {
		display: inline;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	
}